@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonp: Arial, Verdana, Helvetica, sans-serif;
    --fonan: 'android', cursive;
    --fontdes: 'Bebas Neue','Kaushan Script', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonp);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: white;
    padding: 20px;
} 

header > h1 {
    max-width: 1000px;
    min-width: 450px;
    font-size: 35px;
    font-family: var(--fontdes);
}

header > p {
    padding: 20px 0px 0px 0px;
    margin: auto;
    max-width: 500px;
}

nav {
    background-color: #063d1e;
    padding-bottom: 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor4);
    padding: 5px;
    border-radius: 5px;
}

main {
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.418);
}

article {
    padding: 30px;
    line-height: 30px;
    margin-bottom: 50px;
}

article > h1 {
    color: var(--cor5);
    font-family: var(--fonan);
    padding: 0px 0px 20px 0px;
    font-size: 25px;
}

article > h2 {
    background-image: linear-gradient(to right, var(--cor1), white);
    padding: 0px 6px;
    color: var(--cor5);
    font-family: var(--fonan);
}

article > p > a {
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: none;
    padding: 0px 7px;
    font-weight: 700;
}

article > p > a:hover {
    text-decoration: underline;
}

article > p > a::after {
    content: ' ';
}

article > p {
    text-indent: 25px;
    text-align: justify;
    padding: 10px;
}

img {
    margin: auto;
    display: block;
    width: 100%;
}

img#bugdroid {
    max-width: 350px;
}

div#video {
    background-color: var(--cor5);
    margin: 0px -30px;
}

iframe {
    margin: auto;
    padding: 30px 0px;
    width: 90%;
    display: block;
}

aside {
    background-color: var(--cor2);
    margin-top: 30px;
    border-radius: 10px;
}

aside > p {
    padding: 10px 5px;
    text-indent: 20px;
}

aside > h3 {
    background-color: var(--cor5);
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px;
    color: white;
}

aside > ul {
    padding-left: 8px;
    list-style-position: inside;
    list-style-type: '\2714\00a0\00a0';
    columns: 2;
}

aside > p > a {
    color: var(--cor5);
    text-decoration: none;
    padding: 0px 7px;
    font-weight: 700;
}

aside > p > a::after {
    content: ' &';
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px 0px 0px 0px;
}